name: Terraform Plan and Apply

on:
  push:
    branches:
      - main

env:
  AWS_REGION: "us-east-1"

permissions:
      id-token: write
      contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::663435084521:role/gha-oidc
        role-session-name: connecttoaws
        aws-region: ${{ env.AWS_REGION }}

    - name: Print AWS SSM Parameter
      uses: aws ssm get-parameter --name=hello_aws_gh_oidc --query Parameter.Value
      
    - name: Print assumed role
      uses: aws sts get-caller-identity

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Format
      run: terraform fmt -check
    
    - name: Terraform validate
      run: terraform validate
    

    - name: Terraform Init
      run: terraform init

    - name: Terraform Workspace creation
      run: terraform workspace create addanki

    - name: Terraform Plan
      run: terraform plan -var-file=addanki-vpc.tfvars

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform apply -var-file=addanki-vpc.tfvars --auto-approve 
