name: Terraform Plan and Apply

on:
  push:
    branches:
      - main

env:
  AWS_REGION: "us-east-1"

permissions:
      id-token: write
      contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::663435084521:role/github-actions-oidc
        role-session-name: connecttoaws
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Format
      run: terraform fmt
    
    - name: Terraform Init
      run: terraform init

    - name: Terraform validate
      run: terraform validate
    
    - name: Terraform Workspace creation
      run: terraform workspace create addanki

    - name: switch to addanki workspace
      run: terraform workspace select addanki

    - name: Terraform Plan
      run: terraform plan -var-file=addanki-vpc.tfvars

    - name: Terraform Apply
      run: terraform apply -var-file=addanki-vpc.tfvars --auto-approve 
